<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>

    <objects xmlns="http://www.springframework.net" >

      <object id="dacManager"
              type="OrderProcessingDomain.DACMananer, OrderProcessingDomain"
              singleton="true">
      </object>

      <object id="repositoryFactory"
              type="OrderProcessingDomain.Repository, OrderProcessingDomain"
              singleton="true">
      </object>

      <object id="nhRepository"
              type="OrderProcessingDomain.NHRepository, OrderProcessingDomain"
              singleton="true">
      </object>

      <object id="objectRepository"
              type="OrderProcessingDomain.ObjectRepository, OrderProcessingDomain"
              singleton="true">
      </object>

      <object id="objectDataAccessContext"
              type="OrderProcessingDomain.ObjectDataAccessContext, OrderProcessingDomain"
              singleton="true">
      </object>

      <object id="nhDataAccessContext"
              type="OrderProcessingDomain.NHDataAccessContext, OrderProcessingDomain"
              singleton="true">
      </object>

      <object type="Spring.Objects.Factory.Attributes.RequiredAttributeObjectPostProcessor, Spring.Core"/>

    </objects>

  </spring>
  
  <appSettings>
    <add key="connectionString" value="Data Source=.;Initial Catalog=Northwind;Integrated Security=true;"/>
  </appSettings>


  <runtime>
    <assemblyBinding>
      <dependentAssembly>
        <assemblyIdentity name="Castle.DynamicProxy2" publicKeyToken="407dd0808d44fbdc">
          <bindingRedirect oldVersion="2.1.0.0"
                           newVersion="2.2.0.0">

          </bindingRedirect>
        </assemblyIdentity>
      </dependentAssembly>
    </assemblyBinding>
    
  </runtime>
</configuration>