<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\MyDev\OrderProcessing\OrderService\App_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="C:\MyDev\OrderProcessing\OrderService\App_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <services>
      <service behaviorConfiguration="OrderService.OrderBehavior" name="OrderService.Orders">
        <endpoint address="net.tcp://localhost:8732/Design_Time_Addresses/OrderService/Order/"
          binding="netTcpBinding" bindingConfiguration="" name="OrderService"
          bindingName="orderTcpBinding" contract="OrderService.IOrders">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="net.tcp://localhost:8732/Design_Time_Addresses/OrderService/Order/mex"
          binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="OrderService.OrderBehavior" name="OrderService.Status">
        <endpoint address="net.tcp://localhost:8732/Design_Time_Addresses/OrderService/Status"
          binding="netTcpBinding" bindingConfiguration="" name="OrderStatus"
          bindingName="orderTcpBinding" contract="OrderService.IStatus">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="net.tcp://localhost:8732/Design_Time_Addresses/OrderService/Status/mex"
          binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="OrderService.OrderBehavior" name="OrderService.QueryService.CustomerQueryService">
        <endpoint address="net.tcp://localhost:8732/OrderService/CustomerQueryService"
          binding="netTcpBinding" name="CustomerQueryServiceEndPoint"
          contract="OrderService.QueryService.ICustomerQueryService" />
        <endpoint address="net.tcp://localhost:8732/OrderService/CustomerQueryService/mex"
          binding="mexTcpBinding" name="mex" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="OrderService.OrderBehavior" name="OrderService.QueryService.EmployeeQueryService">
        <endpoint address="net.tcp://localhost:8732/OrderService/EmployeeQueryService"
          binding="netTcpBinding" name="EmployeeQueryServiceEndPoint"
          contract="OrderService.QueryService.IEmployeeQueryService" />
        <endpoint address="net.tcp://localhost:8732/OrderService/EmployeeQueryService/mex"
          binding="mexTcpBinding" name="mex" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="OrderService.OrderBehavior" name="OrderService.QueryService.OrderQueryService">
        <endpoint address="net.tcp://localhost:8732/OrderService/OrderQueryService"
          binding="netTcpBinding" name="OrderQueryServiceEndPoint" contract="OrderService.QueryService.IOrderQueryService" />
        <endpoint address="net.tcp://localhost:8732/OrderService/OrderQueryService/mex"
          binding="mexTcpBinding" name="mex" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="OrderService.OrderBehavior" name="OrderService.CommandService">
        <endpoint address="net.tcp://localhost:8732/OrderService/CommandService"
          binding="netTcpBinding" bindingConfiguration="orderTcpBinding"
          name="commandServiceEndPoint" contract="OrderService.ICommandService" />
        <endpoint address="net.tcp://localhost:8732/OrderService/CommandService/mex"
          binding="mexTcpBinding" name="mex" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="OrderService.OrderBehavior" name="OrderService.QueryService.ProductQueryService">
        <endpoint address="net.tcp://localhost:8732/OrderService/ProductQueryService"
          binding="netTcpBinding" name="ProductQueryServiceEndPoint"
          contract="OrderService.QueryService.IProductQueryService" />
        <endpoint address="net.tcp://localhost:8732/OrderService/ProductQueryService/mex"
          binding="mexTcpBinding" name="mex" contract="IMetadataExchange" />
      </service>
      
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="OrderService.OrderBehavior">
          <serviceMetadata/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="orderTcpBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647"  maxDepth="2147483647" maxStringContentLength="2147483647" maxNameTableCharCount="8192" maxBytesPerRead="4012"/>
          <security>
            <transport>
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
