<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source name="System.ServiceModel" switchValue="Warning, ActivityTracing"
                propagateActivity="true">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="C:\MyDev\OrderProcessing\OrderProcessing\app_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
            <add initializeData="C:\MyDev\OrderProcessing\OrderProcessing\app_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <diagnostics>
            <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
        </diagnostics>
        <bindings>
            <customBinding>
                <binding name="SubscriptionServiceEndPoint">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://tempuri.org/':    -->
                    <!--    <wsdl:binding name='SubscriptionServiceEndPoint'>    -->
                    <!--        <IncludeContext xmlns="http://schemas.microsoft.com/ws/2006/05/context">..</IncludeContext>    -->
                    <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        maxSessionSize="2048">
                        <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    </binaryMessageEncoding>
                    <windowsStreamSecurity protectionLevel="EncryptAndSign" />
                    <tcpTransport manualAddressing="false" maxBufferPoolSize="524288"
                        maxReceivedMessageSize="65536" connectionBufferSize="8192"
                        hostNameComparisonMode="StrongWildcard" channelInitializationTimeout="00:00:05"
                        maxBufferSize="65536" maxPendingConnections="10" maxOutputDelay="00:00:00.2000000"
                        maxPendingAccepts="1" transferMode="Buffered" listenBacklog="10"
                        portSharingEnabled="false" teredoEnabled="false">
                        <connectionPoolSettings groupName="default" leaseTimeout="00:05:00"
                            idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="10" />
                        <extendedProtectionPolicy policyEnforcement="Never" />
                    </tcpTransport>
                </binding>
            </customBinding>
            <netTcpContextBinding>
                <binding name="orderTcpBinding" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="4012" maxNameTableCharCount="8192" />
                    <security>
                        <transport>
                            <extendedProtectionPolicy policyEnforcement="Never" />
                        </transport>
                    </security>
                </binding>
            </netTcpContextBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8732/Design_Time_Addresses/OrderService/Status"
                binding="netTcpContextBinding" bindingConfiguration="orderTcpBinding"
                contract="OrderStatusService.IStatus" name="OrderStatus" />
            <endpoint address="net.tcp://localhost:8732/Design_Time_Addresses/OrderService/Order/"
                binding="netTcpContextBinding" bindingConfiguration="orderTcpBinding"
                contract="ServiceReference1.IOrders" name="OrderService" />
            <endpoint address="net.tcp://localhost:8732/OrderService/CustomerQueryService"
                binding="netTcpContextBinding" bindingConfiguration="orderTcpBinding"
                contract="CustomerQueryServiceReference.ICustomerQueryService"
                name="CustomerQueryServiceEndPoint" />
            <endpoint address="net.tcp://localhost:8732/OrderService/EmployeeQueryService"
                binding="netTcpContextBinding" bindingConfiguration="orderTcpBinding"
                contract="EmployeeQueryServiceReference.IEmployeeQueryService"
                name="EmployeeQueryServiceEndPoint" />
            <endpoint address="net.tcp://localhost:8732/OrderService/OrderQueryService"
                binding="netTcpContextBinding" bindingConfiguration="orderTcpBinding"
                contract="OrderQueryServiceReference.IOrderQueryService" name="OrderQueryServiceEndPoint" />
            <endpoint address="net.tcp://localhost:8732/OrderService/CommandService"
                binding="netTcpContextBinding" bindingConfiguration="orderTcpBinding"
                contract="CommandServiceReference.ICommandService" name="commandServiceEndPoint" />
            <endpoint address="net.tcp://localhost:8732/OrderService/ProductQueryService"
                binding="netTcpContextBinding" bindingConfiguration="orderTcpBinding"
                contract="ProductQueryServiceReference.IProductQueryService"
                name="ProductQueryServiceEndPoint">
                <identity>
                    <userPrincipalName value="ilias.shaikh@tradar.com" />
                </identity>
            </endpoint>
            <!--<endpoint address="net.tcp://localhost:8732/OrderService/SubscriptionService"
                binding="customBinding" bindingConfiguration="SubscriptionServiceEndPoint"
                contract="SubscriptionServiceReference.ISubscriptionService"
                name="SubscriptionServiceEndPoint">
                <identity>
                    <userPrincipalName value="ilias.shaikh@tradar.com" />
                </identity>
            </endpoint>-->
          <endpoint address="net.tcp://localhost:8732/OrderService/SubscriptionService"
                binding="netTcpContextBinding" bindingConfiguration="orderTcpBinding"
                contract="SubscriptionServiceReference.ISubscriptionService"
                name="SubscriptionServiceEndPoint">
            <identity>
              <userPrincipalName value="ilias.shaikh@tradar.com" />
            </identity>
          </endpoint>
        </client>
    </system.serviceModel>
</configuration>