<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source name="System.ServiceModel" switchValue="Warning, ActivityTracing"
                propagateActivity="true">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="C:\MyDev\OrderProcessing\OrderProcessing\app_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
            <add initializeData="C:\MyDev\OrderProcessing\OrderProcessing\app_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <diagnostics>
            <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
        </diagnostics>
        <bindings>
          <netTcpContextBinding>
                <binding name="orderTcpBinding" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="4012" maxNameTableCharCount="8192" />
                    <security>
                        <transport>
                            <extendedProtectionPolicy policyEnforcement="Never" />
                        </transport>
                    </security>
                </binding>
            </netTcpContextBinding>
                      
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8732/Design_Time_Addresses/OrderService/Status"
                binding="netTcpContextBinding" bindingConfiguration="orderTcpBinding"
                contract="OrderStatusService.IStatus" name="OrderStatus" />
            <endpoint address="net.tcp://localhost:8732/Design_Time_Addresses/OrderService/Order/"
                binding="netTcpContextBinding" bindingConfiguration="orderTcpBinding"
                contract="ServiceReference1.IOrders" name="OrderService" />
            <endpoint address="net.tcp://localhost:8732/OrderService/CustomerQueryService"
                binding="netTcpContextBinding" bindingConfiguration="orderTcpBinding"
                contract="CustomerQueryServiceReference.ICustomerQueryService"
                name="CustomerQueryServiceEndPoint" />
            <endpoint address="net.tcp://localhost:8732/OrderService/EmployeeQueryService"
                binding="netTcpContextBinding" bindingConfiguration="orderTcpBinding"
                contract="EmployeeQueryServiceReference.IEmployeeQueryService"
                name="EmployeeQueryServiceEndPoint" />
            <endpoint address="net.tcp://localhost:8732/OrderService/OrderQueryService"
                binding="netTcpContextBinding" bindingConfiguration="orderTcpBinding"
                contract="OrderQueryServiceReference.IOrderQueryService" name="OrderQueryServiceEndPoint" />
            <endpoint address="net.tcp://localhost:8732/OrderService/CommandService"
                binding="netTcpContextBinding" bindingConfiguration="orderTcpBinding"
                contract="CommandServiceReference.ICommandService" name="commandServiceEndPoint" />
            <endpoint address="net.tcp://localhost:8732/OrderService/ProductQueryService"
                binding="netTcpContextBinding" bindingConfiguration="orderTcpBinding"
                contract="ProductQueryServiceReference.IProductQueryService"
                name="ProductQueryServiceEndPoint">
                <identity>
                    <userPrincipalName value="ilias.shaikh@tradar.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>