<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <log4net debug="false">

    <!-- Define some output appenders -->
    <appender name="trace" type="log4net.Appender.TraceAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>

    <appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>

    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net" >

      <param name="File" value="log.txt" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <param name="StaticLogFileName" value="true" />

      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>

    <!-- Setup the root category, add the appenders and set the default priority -->

    <root>
      <priority value="INFO" />
      <appender-ref ref="console" />
    </root>
  </log4net>
  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="c:\mydev\orderprocessing\orderprocessing.tests\app_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>

    <objects xmlns="http://www.springframework.net" >

      <object id="dacManager"
              type="OrderProcessingDomain.DACManager, OrderProcessingDomain"
              singleton="true"
              >
      </object>

      <object id="repositoryFactory"
              type="OrderProcessingDomain.Repository, OrderProcessingDomain"
              singleton="true">
      </object>

      <object id="nhRepository"
              type="OrderProcessingDomain.NHRepository, OrderProcessingDomain"
              singleton="true">
      </object>

      <object id="objectRepository"
              type="OrderProcessingDomain.ObjectRepository, OrderProcessingDomain"
              singleton="true">
      </object>

      <object id="objectDataAccessContext"
              type="OrderProcessingDomain.ObjectDataAccessContext, OrderProcessingDomain"
              singleton="true">
      </object>

      <object id="nhDataAccessContext"
              type="OrderProcessingDomain.NHDataAccessContext, OrderProcessingDomain"
              singleton="false">
      </object>

      <object type="Spring.Objects.Factory.Attributes.RequiredAttributeObjectPostProcessor, Spring.Core"/>

    </objects>

  </spring>
  <appSettings>
    <add key="connectionString" value="Data Source=.;Initial Catalog=Northwind;Integrated Security=true;"/>
  </appSettings>
  
  <runtime>
    <assemblyBinding>
      <dependentAssembly>
        <assemblyIdentity name="Castle.DynamicProxy2" publicKeyToken="407dd0808d44fbdc" culture="neutral">
          <bindingRedirect oldVersion="2.1.0.0"
                           newVersion="2.2.0.6628">
            
          </bindingRedirect>
        </assemblyIdentity>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="SubscriptionServiceEndPoint">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <windowsStreamSecurity protectionLevel="EncryptAndSign" />
          <tcpTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" connectionBufferSize="8192" hostNameComparisonMode="StrongWildcard"
            channelInitializationTimeout="00:00:05" maxBufferSize="65536"
            maxPendingConnections="10" maxOutputDelay="00:00:00.2000000"
            maxPendingAccepts="1" transferMode="Buffered" listenBacklog="10"
            portSharingEnabled="false" teredoEnabled="false">
            <connectionPoolSettings groupName="default" leaseTimeout="00:05:00"
              idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="10" />
            <extendedProtectionPolicy policyEnforcement="Never" />
          </tcpTransport>
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="commandServiceEndPoint" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
      <netTcpContextBinding>
        <binding name="orderTcpBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" />
          <security>
            <transport>
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
          </security>
        </binding>
      </netTcpContextBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8732/Design_Time_Addresses/OrderService/Status"
        binding="netTcpContextBinding" bindingConfiguration="orderTcpBinding"
        contract="ServiceReference1.IStatus" name="OrderStatus">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8732/OrderService/EmployeeQueryService"
        binding="netTcpContextBinding" bindingConfiguration="orderTcpBinding"
        contract="EmployeeQueryServiceReference.IEmployeeQueryService"
        name="EmployeeQueryServiceEndPoint">
        <identity>
          <userPrincipalName value="ilias.shaikh@tradar.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8732/OrderService/OrderQueryService"
        binding="netTcpContextBinding" bindingConfiguration="orderTcpBinding"
        contract="OrderQueryServiceReference.IOrderQueryService" name="OrderQueryServiceEndPoint">
        <identity>
          <userPrincipalName value="ilias.shaikh@tradar.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8732/OrderService/CustomerQueryService"
        binding="netTcpContextBinding" bindingConfiguration="orderTcpBinding"
        contract="CustomerQueryServiceReference.ICustomerQueryService"
        name="CustomerQueryServiceEndPoint">
        <identity>
          <userPrincipalName value="Isaak2009\Ilias" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8732/OrderService/CommandService"
        binding="netTcpContextBinding" bindingConfiguration="orderTcpBinding"
        contract="CommanndServiceReference.ICommandService" name="commandServiceEndPoint">
        <identity>
          <userPrincipalName value="ilias.shaikh@tradar.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8732/OrderService/ProductQueryService"
        binding="netTcpContextBinding" bindingConfiguration="orderTcpBinding"
        contract="ProductQueryServiceReference.IProductQueryService"
        name="ProductQueryServiceEndPoint">
        <identity>
          <userPrincipalName value="ilias.shaikh@tradar.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8732/OrderService/SubscriptionService"
        binding="netTcpContextBinding" bindingConfiguration="orderTcpBinding"
        contract="SubscriptionServiceReference.ISubscriptionService"
        name="SubscriptionServiceEndPoint">
        <identity>
          <userPrincipalName value="ilias.shaikh@tradar.com" />
        </identity>
      </endpoint>
      <!--<endpoint address="net.tcp://localhost:8732/OrderService/CommandService"
        binding="netTcpBinding" bindingConfiguration="commandServiceEndPoint"
        contract="CommanndServiceReference.ICommandService" name="commandServiceEndPoint1">
        <identity>
          <userPrincipalName value="ilias.shaikh@tradar.com" />
        </identity>
      </endpoint>-->
    </client>
  </system.serviceModel>
</configuration> 